@import "Styles/_variables";
@import "Styles/_mixins";

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $gray;
}

th {
  min-width: 100px;
  border: 1px solid $gray;
  text-align: left;
  padding: 10px;
  background-color: $gray_light;
  color: $black;
  font-size: 20px;
}

th:first-child {
  min-width: 10px;

}

td {
  border: 1px solid grey;
  padding: 5px 10px;
}

.emptyTable {
  display: table-cell;
  padding: 5px;
  padding-left: 45%;
  white-space: nowrap;
  & td {
    border: 0;
  }
}
